Repository CSC207-2022F-UofT/course-project-team-java-help, pull requests merged in 2022-12, with the labels that each got.

#98 User register for both Clients and Providers
  backend/src/main/java/com/javahelp/backend/domain/user/register/IUserRegisterInputBoundary.java
  backend/src/main/java/com/javahelp/backend/domain/user/register/UserRegisterInteractor.java
  backend/src/main/java/com/javahelp/backend/domain/user/register/UserRegisterResult.java
  backend/src/main/java/com/javahelp/backend/domain/user/register/client/ClientRegisterInteractor.java
  backend/src/main/java/com/javahelp/backend/domain/user/register/client/IClientRegisterInputBoundary.java
  backend/src/main/java/com/javahelp/backend/domain/user/register/provider/IProviderRegisterInputBoundary.java
  backend/src/main/java/com/javahelp/backend/domain/user/register/provider/ProviderRegisterInteractor.java
  backend/src/test/java/com/javahelp/backend/domain/user/register/ClientRegisterTest.java
  backend/src/test/java/com/javahelp/backend/domain/user/register/ProviderRegisterTest.java
Labels: backend

#117 Deletion frontend use case
  app/src/main/java/com/javahelp/frontend/domain/user/delete/DeleteInteractor.java
  app/src/main/java/com/javahelp/frontend/domain/user/delete/DeleteResult.java
  app/src/main/java/com/javahelp/frontend/domain/user/delete/IDeleteDataAccess.java
  app/src/main/java/com/javahelp/frontend/domain/user/delete/IDeleteInput.java
  app/src/main/java/com/javahelp/frontend/domain/user/delete/IDeleteOutput.java
  app/src/test/java/com/javahelp/frontend/domain/user/delete/DeleteInteractorTest.java
  backend/src/test/java/com/javahelp/backend/endpoint/delete/DeleteHandlerTest.java
Labels: enhancement, frontend, medium, clean-use-case-layer

#123 Deletion gateway and view model
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/javahelp/frontend/activity/DeleteActivity.java
  app/src/main/java/com/javahelp/frontend/activity/DeleteViewModel.java
  app/src/main/java/com/javahelp/frontend/domain/user/delete/DeleteInteractor.java
  app/src/main/java/com/javahelp/frontend/domain/user/delete/IDeleteOutput.java
  app/src/main/java/com/javahelp/frontend/fragments/AccountFragment.java
  app/src/main/java/com/javahelp/frontend/gateway/LambdaDeleteDataAccess.java
  app/src/main/res/layout/activity_delete_verify.xml
  app/src/main/res/layout/fragment_account.xml
  app/src/test/java/com/javahelp/frontend/domain/user/delete/DeleteInteractorTest.java
Labels: enhancement, frontend, large, clean-outer-layer, clean-gateway-layer
